h1.jc-c-welcome Welcome #{user.familyname}

.jc-c-hero
  .jc-c-hero__title
    .jc-c-hero__item
      span.jc-c-hero__name Jane 
        span.date 27th July 2018
    img(src='/images/heart.svg' alt='Heart')
    .jc-c-hero__item
      span.jc-c-hero__name Chris
        span.place 'The Fable', Holborn
