.jc-c-grid
  .ln-o-grid__item.ln-u-1-3
    .ln-c-card
      dl
        dt Address:
        dd 52 Holborn Viaduct, London, EC1A 2FD
      dl
        dt Phone:
        dd 
          a(href='tel:0845 468 0105') 0845 468 0105
      dl
        dt Date:
        dd 27th July 2018
      dl
        dt Time:
        dd From 4:30pm - 12(ish)am
      dl
        dt Google Maps:
        dd 
          a(href='https://www.google.com/maps/search/?api=1&amp;query=The+Fable,+ 52+Holborn+Viaduct,+London,+EC1A+2FD', target='_blank') View Map
      dl
        dt Dresswear:
        dd Smart casual
    
  .ln-o-grid__item.ln-u-2-3
    div
      img(src='/images/map-screenshot.png')
