.photograph-container
  figure(class='photograph__item photograph__item--1')
    img(src='/images/photos/pho-jane-billett.jpg')
    figcaption 
      a(href='#rsvp') R.S.V.P
  
  figure(class='photograph__item photograph__item--2')
    img(src='/images/photos/pho-amelie-newton.jpg')
    figcaption 
      a(href='#location') Location
      
  figure(class='photograph__item photograph__item--3')
    img(src='/images/photos/pho-chris-ormerod.jpg')
    figcaption 
      a(href='#information') A to Z
    
