$jc-color-cape-cod: #3d4042;
$jc-color-black: #000;
$jc-color-white: #fff;
$jc-color-tall-poppy: #c42626;
$jc-color-bulgarian-rose: #550000;
$jc-color-dark-candy-apple: #A30006;
$jc-color-pastel-grey: #D6CBC1;
$jc-color-azureish-white: #E3E8ED;
$jc-color-jungle-green: #27b163;
